<main class="container">
	<h2>Simple Request</h2>
	<a class="waves-effect waves-light btn" (click)="handleMap()">Map</a>
	<span class="spacer-x"></span>
	<a class="waves-effect waves-light btn" (click)="handleTap()">Tap</a>
	<span class="spacer-x"></span>
	<a class="waves-effect waves-light btn" (click)="handleErrorButton()">Error Handling</a>
	<h2>Multiple Request</h2>
	<a class="waves-effect waves-light btn" (click)="handleMergeMap()">Merge Map</a>
	<span class="spacer-x"></span>
	<a class="waves-effect waves-light btn" (click)="handleForkJoin()">Fork Join</a>
	<span class="spacer-x"></span>
	<a class="waves-effect waves-light btn" (click)="handleForkJoinMergeMap()">Merge / Fork</a>
</main>

<section>
	<p *ngIf="loading">...loading</p>
	<p *ngIf="user">{{ user.name }}</p>
</section>
